@font-face {
    font-family: 'Dancing';
    src: url('../../fonts/DancingScript-VariableFont_wght.ttf');
}
.formik .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.formik .container form {
    width: 400px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 0 25px #d54ac5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}
.formik .container form .title {
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 20px #d54ac5;
    font-family: 'Dancing', sans-serif;
}
.formik .container form input {
    width: 350px;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 1px solid #424242;
    outline: none;
    padding-left: 20px;
    font-size: 18px;
    color: #fff;
}
.formik .container form input::placeholder {
    color: #424242;
    transition: .3s;
}
.formik .container form input:focus::placeholder {
    transform: translateY(-30px);
    color: #fff;
}
.formik .container form button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: rgb(225, 44, 214);
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 15px #d54ac5;
    margin-top: 50px;
}
.formik .container form .error {
    color: rgb(241, 19, 19);
}
.formik .container form .signIn {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    transform: translateX(120px);
    font-family: 'Dancing', sans-serif;
    cursor: pointer;
    transition: .3s;
}
.formik .container form .signIn:hover {
    color: rgb(225, 44, 214);
    text-shadow: 0 0 10px #d54ac5;
}
@media (max-width: 420px) {
    .formik .container form {
        width: 250px;
    }
    .formik .container form input {
        width: 150px;
    }
    .formik .container form button {
        width: 80px;
        font-size: 14px;
    }.formik .container form .signIn {
        transform: translateX(0);
    }
}